h1 {
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: darkgray;
    border: 5px solid violet;
    padding: 0px 8px;
    color: aquamarine;
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

.boxer0 {
    background-color: darkorchid;
    border: 5px solid violet;
    padding: 1em;
    color: aquamarine;
    text-align: center;
}

.boxer1 {
    background-color: darkorchid;
    border: 5px solid violet;
    padding: 1em;
    color: aquamarine;
    text-align: center;
}

.boxer2 {
    background-color: darkorchid;
    border: 5px solid violet;
    padding: 1em;
    color: aquamarine;
    text-align: center;
}

.nubox {
    background-color: aqua;
    border: 5px solid violet;
    padding: 1em;
    color: rgb(26, 1, 127);
}

.box-2 {
    border-style: dotted;
    border-color: blueviolet;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: blue;
    font-size: larger;
    font-weight: 800;
}

.products-1 ol {
    border: 4px;
    border-color: purple;
    background-color: lightgray;
    color: dark violet;
    padding: 1em;
}

li {
    border: 2px solid blueviolet;
    text-align: center;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150px;
    height: auto;
}